/* General Style Settings */

/* Styling for the links at the top of the page */
header ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    margin-left: 5px;
    margin-right: 5px;
}

header li{
    float: none;
}

header li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

header li a:hover{
    background-color: #111;
}

header li a:focus{
    background-color: #111;
}











/* Style the current page */
.active{
    background: green;
    color: white
}











/* Style the page title */
h1.pagetitle{
    font-size: 40px;
    margin: 10px;
    font-weight: bold;
    text-align: center;
}













/* Style the divider */
hr.divider{
    border-top: 3px solid #bbb;
}
  














/* Style the skip button */
.skipbutton{
    position: absolute;
    left: -1000px;
    top: auto;
    width: 1px;
    height: 1px;
}

.skipbutton:focus{
    position: static;
    width: 20%;
    height: auto;
    background-color: red;
    text-align: center;
    color: white;
    border-radius: 14px;
}









/* Style the secondary and triary titles */
h2.secondarytitle{
    margin: 10px;
    font-weight: bold;
    font-size: 1.5em;
}

h3.triarytitle{
    margin: 10px;
    font-weight: bold;
    font-size: 1em;
}






/* Style the div */
div{
    margin-left: 10px;
    margin-right: 10px;
}









/* Style the p */
p{
    margin-top: 16px;
    margin-bottom: 16px;
}











/* Style the footer */
footer{
  background-color: #333;
  color: white;
  text-align: center;
  margin-top: auto;
}











/* Pets Grid for image and description as well as theres likes and owner */
.image img{ 
    /* Border Color */
    border: 4px solid rgb(51, 47, 47);

    /* Getting image to fit in mobile */
    display: block;
    max-width: calc(100% - 8px);
    max-height: calc(100% - 8px);
    margin: auto;
}

.petgrid{
    /* Create the grid */
    display: grid;
    grid-template-columns: 100%;
    height: auto;
    row-gap: 5px;
    
    /* Center the Content in the Grid */
    justify-content: center;
    align-content: center;
}

.paragraph{
    flex: 1;
    border: 2px solid lightgray;
    border-radius: 5px;
    background: lightgray;
    box-sizing: border-box;
}

.text{
    margin: 40px;
    margin-top: 5px;
}

ul.petlikes{
    margin-left: 40px;
    list-style-type: disc;
}















/* Picture Gallery Grid Arrangement */
.picture-gallery-grid{
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 10px;
    margin-bottom: 10px;
}

.picture-grid-item{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    max-height: auto;
}

.picture-grid-item img, .picture-grid-item video{
    max-width: 100%;
    height: auto;
    display: block;

    /* Border of Content */
    border: 4px solid rgb(51, 47, 47);
}
















/* Add visually appealing gradient background to website */
html{
    height: 100%;
    box-sizing: border-box;
}

/* Make sure the footer doesn't cover any content */
body{
    min-height: 400px;
    margin-bottom: 100px;
    clear: both;
    display: block;
    margin: 8px;
    line-height: inherit;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    box-sizing: inherit;

    background: rgb(125,125,173);
    background: linear-gradient(40deg, rgba(125,125,173,1) 10%, rgba(220,234,237,1) 100%);
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;

    /* For the fade in animation */
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

/* Style text chunks */
div.textchunk{
    margin-top: 8px;
    border: 2px solid lightgray;
    border-radius: 5px;
    background: lightgray;
}







/* Recipe Steps */
ul.recipesteps{
    margin-left: 40px;
    list-style-type: decimal;
}

.recipe-gallery-grid{
    /* Create the grid */
    display: grid;
    grid-template-columns: 100%;
    justify-content: center;
    align-content: center;
    row-gap: 10px;
    margin-bottom: 10px;
}

.recipe-grid-item{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.recipe-grid-item img, .recipe-grid-item video{
    /* max-width: 100%;
    height: auto;
    display: block; */

    /* Border of Content */
    border: 4px solid rgb(51, 47, 47);
    /* Getting image to fit in mobile */
    display: block;
    max-width: calc(100% - 8px);
    max-height: calc(100% - 8px);
    margin: auto;
}





.travel-grid{
    /* Create the grid */
    display: grid;
    grid-template-columns: 100%;
    height: auto;
    row-gap: 5px;
    
    /* Center the Content in the Grid */
    justify-content: center;
    align-content: center;
}




.travel-gallery-grid{
    /* Create the grid */
    display: grid;
    grid-template-columns: 100%;
    row-gap: 10px;
    margin-bottom: 10px;
    justify-content: center;
    align-content: center;
}

.travel-grid-item img, .travel-grid-item video{
    /* Border of Content */
    border: 4px solid rgb(51, 47, 47);

    /* Getting image to fit in mobile */
    display: block;
    max-width: calc(100% - 8px);
    max-height: calc(100% - 8px);
    margin: auto;
}











/* Picture Gallery Grid Arrangement */
.travel-picture-gallery-grid{
    display: grid;
    grid-template-columns: 100%;
    row-gap: 10px;
    margin-bottom: 10px;
}

.travel-picture-grid-item{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.travel-picture-grid-item img, .travel-picture-grid-item video{
    /* Border of Content */
    border: 4px solid rgb(51, 47, 47);

    /* Getting image to fit in mobile */
    display: block;
    max-width: calc(100% - 8px);
    max-height: calc(100% - 8px);
    margin: auto;
}

/* Reduced Motion Preference */
@media (prefers-reduced-motion: reduce){
    html img[src$=".gif"]{
        display: none;
    }
    body{
        animation: none;
    };
}

/* Fade in animation */
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/* Tablet View */

@media only screen and (min-width: 768px){

    /* Push page title to the left */
    h1.pagetitle{
        text-align: left;
    }

    /* Change navbar to sit on single column */
    header li{
        float: left;
    }


    /* Pets Page */
    .petgrid{
        grid-template-columns: 50% 50%;
    }

    .recipe-gallery-grid{
        grid-template-columns: 33% 33% 33%;
    }

    .travel-gallery-grid{
        grid-template-columns: 50% 50%;
    }

    .travel-picture-gallery-grid{
        grid-template-columns: 50% 50%;
    }


}